<credit-lock-header theme="brigit"></credit-lock-header>

<credit-lock-center theme="brigit" lock-history-uri="/test_data.json"></credit-lock-center>

<credit-lock-facts theme="brigit"></credit-lock-facts>