<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/assets/css/fonts.6dbfcff92a68d68f88fce60e4ec1a554.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/assets/css/euclid-fonts.8abeba6402d2a1e2efdb8c2ea40f9d81.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/assets/css/normalize.112272e51c80ffe5bd01becd2ce7d656.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/assets/css/main.3e581872a8637c5688d4151983399ec8.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/assets/css/common.919b29a8967bf73da0ed659184b11d41.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/webcom-creditlock-1b/header.f70a581c7b6fb8d004f565244140ed26.css"
/>

<!-- Theme styles -->
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/brigit/brigit-common/brigit-common.203c32ae62d65e030d6ad68c20cda582.css"
/>
<link
  rel="stylesheet"
  href="https://cdn-web-assets.array.io/brigit/brigit-creditlock-1b/header.3b63bca06c1223af6a4a81a4652265e3.css"
/>

<style>
  :host {
    display: block;
  }
</style>

<div class="theme-brigit">
  <header class="credit-lock-header">
    <h2 class="title">Lock your credit</h2>
    <h3 class="subtitle">
      A Credit Lock restricts access to your credit report. Why would you
      lock your credit?
    </h3>
    <ul class="lists">
      <li class="description">
        To prevent creditors from accessing your credit information
      </li>
      <li class="description">
        To help prevent identity thieves from opening fraudulent accounts
        (like credit cards and loans) under your name
      </li>
    </ul>
  </header>
</div>